@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

body {
  font-family: "Trebuchet MS", "Tahoma", "Verdana", "Sans-Serif";
  margin: 0;
}

/*--- default links ---------------------------------------------------------*/

a {
  color: #666;
  text-decoration-style: dotted;
}

.won a {
  color: #000;
}

a.nodecor {
  text-decoration: none;
}

a:visited {
  color: #666;
  text-decoration-style: dotted;
}

.won a:visited {
  color: #000;
}

a:hover {
  color: #222;
  text-decoration-style: inherit;
}

/*--- header ----------------------------------------------------------------*/

div.header {
  background-color: #444;
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

div.header h1 {
  margin: 0;
  color: #999;
  font-family: 'Paytone One', cursive;
  font-weight: normal;
  text-transform: uppercase;
}

div.header h3 {
  margin: 0;
  color: #999;
  font-family: 'Paytone One', cursive;
  font-weight: normal;
  font-size: 133%;
}

div.header h3.uppercase {
  text-transform: uppercase;
}

#countdown {
  font-variant-numeric: tabular-nums;
}

h2 {
  font-family: 'Paytone One', cursive;
  color: #444;
}

div.header a {
  text-decoration: none;
  color: inherit;
}

div.header a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 20%;
  color: inherit;
}

img.icon {
  height: 1em;
  width: 1em;
  top: 0.15em;
  position: relative;
  margin-right: 0.4em;
}

/*--- main ------------------------------------------------------------------*/

main {
  padding: 1em 4em 4em 4em;
}

main.single {
  margin-top: 2em;
}

div.flexrow {
  display: flex;
}

div.flexrow > div:nth-child(n+2) {
  margin-left: 4rem;
}

.numeric {
  text-align: right;
}

.more {
  text-align: center;
}

table {
  border-collapse: collapse;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
}

th {
  background-color: rgb(255, 250, 224);
}

tbody th {
  text-align: left;
}

tr {
  color: #666;
}

th, tr.won {
  color: #000;
  font-weight: bold;
}

tr:nth-child(2n) {
  background-color: #f0ffe0;
}

th,td {
  font-size: 75%;
  border: 1px solid #ddd;
  padding: 0.4rem;
}


/*--- runes */

table.runes td {
  font-family: 'Paytone One', cursive;
  font-size: 100%;
  text-align: center;
  color: #bbb;
  width: 7em;
}

table.runes td.found {
  color: #555;
}

/*--- uniques */

table.uniques td {
  font-family: 'Paytone One', cursive;
  font-size: 100%;
  text-align: center;
  color: #bbb;
  width: 11em;
}

table.uniques td.found {
  color: #555;
}

table.uniques td.summary {
  font-family: inherit;
  font-size: 75%;
  color: #999;
}

/*--- gods */

table.gods td {
  font-family: 'Paytone One', cursive;
  font-size: 100%;
  text-align: center;
  color: #bbb;
  width: 10em;
}

table.gods td.found {
  color: #555;
}

/*--- footer */

div.footer {
  font-size: 75%;
  color: #bbb;
  margin: 1em;
  text-align: center;
}
