<!doctype html>

<html>

<head>
  <title>TeamSplat Statistics</title>
  <link rel="stylesheet" href="default.css" type="text/css">
</head>

<body>

<div class="header">
  <h1><a href="https://crawl.develz.org/tournament/0.25/clans/teamsplat-mandevil.html">TeamSplat Statistics</a></h1>
  <h3><a href="https://crawl.develz.org/tournament/0.25/">DCSS Tournament 0.25</a></h3>
</div>

<main>

<div class="flexrow">

<div>

<h2>Clan Members</h2>

<table>
  <thead>
    <tr>
      <th>player</th>
      <th>games</th>
      <th>wins</th>
    </tr>
  </thead>
  <tbody>
    [% FOR pl IN cfg.match.members.sort %]
      <tr>
        <td><a href="[% pl %].html">[% pl %]</a></td>
        <td class="numeric">[% games.by_players.item(pl).size %]</td>
        <td class="numeric">[% wins.by_players.item(pl).size %]</td>
      </tr>
    [% END %]
  </tbody>
</table>

</div>

<div>

<h2>Games In Progress</h2>

<table>
  <thead>
    <tr>
      <th></th>
      <th>player</th>
      <th>char</th>
      <th>place</th>
      <th>xl</th>
      <th>runes</th>
      <th>milestone</th>
      <th>last seen</th>
      <th colspan="3">srv</th>
    </tr>
  </thead>

  <tbody>
    [% IF !clan.in_progress.size %]
      <tr><td colspan="9">no games in progress</td></tr>
    [% END %]
    [% SET i = 1; FOR ms IN clan.in_progress %]
      <tr>
        <td>[% i; SET i = i + 1 %]</td>
        <td>[% ms.name %]</td>
        <td>[% ms.char %][% IF ms.god %] of [% ms.god %][% END %]</td>
        <td>[% ms.place %]</td>
        <td class="numeric">[% ms.xl %]</td>
        <td class="numeric">[% ms.urune %]</td>
        <td>[% ms.milestone %]</td>
        <td class="numeric">[% ms.time_from_now_fmt %] ago</td>
        <td>[% ms.server.upper %]</td>
        <td>
          [% IF player_dumps.item(ms.name).item(ms.server) %]
            <a
              target="_blank"
              href="[% player_dumps.item(ms.name).item(ms.server)%]">D</a>
          [% END %]
        </td>
        <td>
          [% IF players.item(ms.name).watchurl.item(ms.server) %]
            <a
              target="_blank"
              href="[% players.item(ms.name).watchurl.item(ms.server) %]">W</a>
          [% END %]
        </td>
      </tr>
    [% END %]
  </tbody>
</table>

</div>
</div>

[%# ======================================================================== %]
[%# === WON GAMES ========================================================== %]
[%# ======================================================================== %]

[% IF clan.won.size %]

<h2>Won Games</h2>

<table>

  <thead>
    <tr>
      <th></th>
      <th>score</th>
      <th>player</th>
      <th>species</th>
      <th>background</th>
      <th>god</th>
      <th>title</th>
      <th>xl</th>
      <th>turns</th>
      <th>duration</th>
      <th>runes</th>
      <th>finish date</th>
    </td>
  </thead>

  <tbody>
    [% SET i = clan.won.size; FOR g IN clan.won.reverse %]
    <tr class="won">
      <td class="numeric">[% i; SET i = i - 1 %]</td>
      <td class="numeric">
        [% IF g.dumpurl %]
          <a href="[% g.dumpurl %]">[% g.sc.chunk(-3).join(',') %]</a>
        [% ELSE %]
          [% g.sc.chunk(-3).join(',') %]
        [% END %]
      </td>
      <td>[% g.name %]</td>
      <td>[% g.race %]</td>
      <td>[% g.cls %]</td>
      <td>[% g.god %]</td>
      <td>[% g.title %]</td>
      <td class="numeric">[% g.xl %]</td>
      <td class="numeric">[% g.turn %]</td>
      <td class="numeric">[% g.dur_fmt %]</td>
      <td class="numeric">[% g.urune %]</td>
      <td>[% g.end_fmt %]</td>
    </tr>
    [% END %]
  </tbody>
</table>

[% END %]

[%# ======================================================================== %]
[%# === RECENT GAMES ======================================================= %]
[%# ======================================================================== %]

[% IF clan.recent.size %]

<h2>Recent Games</h2>

<table>

  <thead>
    <tr>
      <th></th>
      <th>score</th>
      <th>player</th>
      <th>char</th>
      <th>title</th>
      <th>place</th>
      <th>death</th>
      <th>xl</th>
      <th>turns</th>
      <th>duration</th>
      <th>runes</th>
      <th>finish date</th>
    </td>
  </thead>

  <tbody>
    [% SET i = games.all.size; FOR g IN clan.recent %]
    <tr[% IF g.ktyp == 'winning'; ' class="won"'; END %]>
      <td class="numeric">[% i; SET i = i - 1 %]</td>
      <td class="numeric">
        [% IF g.dumpurl %]
          <a href="[% g.dumpurl %]">[% g.sc.chunk(-3).join(',') %]</a>
        [% ELSE %]
          [% g.sc.chunk(-3).join(',') %]
        [% END %]
      </td>
      <td>[% g.name %]</td>
      <td>[% g.char %][% IF g.god %] of [% g.god%][% END %]</td>
      <td>[% g.title %]</td>
      <td>[% IF g.ktyp != 'winning'; g.place; END %]</td>
      <td>[% g.tmsg %]</td>
      <td class="numeric">[% g.xl %]</td>
      <td class="numeric">[% g.turn %]</td>
      <td class="numeric">[% g.dur_fmt %]</td>
      <td class="numeric">[% g.urune %]</td>
      <td>[% g.end_fmt %]</td>
    </tr>
    [% END %]
  </tbody>
</table>

[% END %]

[%# ======================================================================== %]
[%# === CLAN BEST ========================================================== %]
[%# ======================================================================== %]

[% IF clan.won.size %]
<h2>Clan's Best Games</h2>

<table>

  <thead>
    <tr>
      <th>category</th>
      <th>player</th>
      <th>character</th>
      <th>achievement</th>
      <th>dump</th>
    </tr>
  </thead>

  <tbody>
    [% IF games.turncount.size %]
    <tr>
      [% SET g = games.turncount.item(0) %]
      <th>Lowest turncount</th>
      <td>[% g.name %]</td>
      <td>
        [% g.char %]
        [% IF g.god %] of [% g.god %][% END %]
      </td>
      <td>[% g.turn %] turns</td>
      <td>
        [% IF g.dumpurl %]
        <a href="[% g.dumpurl %]">dump</a>
        [% END %]
      </td>
    </tr>
    [% END %]
    [% IF games.realtime.size %]
    <tr>
      [% SET g = games.realtime.item(0) %]
      <th>Fastest realtime</th>
      <td>[% g.name %]</td>
      <td>
        [% g.char %]
        [% IF g.god %] of [% g.god %][% END %]
      </td>
      <td>[% g.dur_fmt %]</td>
      <td>
        [% IF g.dumpurl %]
        <a href="[% g.dumpurl %]">dump</a>
        [% END %]
      </td>
    </tr>
    [% END %]
    [% IF games.score.size %]
    <tr>
      [% SET g = games.score.item(0) %]
      <th>Highest score</th>
      <td>[% g.name %]</td>
      <td>
        [% g.char %]
        [% IF g.god %] of [% g.god %][% END %]
      </td>
      <td>[% g.sc.chunk(-3).join(',') %] points</td>
      <td>
        [% IF g.dumpurl %]
        <a href="[% g.dumpurl %]">dump</a>
        [% END %]
      </td>
    </tr>
    [% END %]
    [% IF games.xlwins.size %]
    <tr>
      [% SET g = games.xlwins.item(0) %]
      <th>Lowest XL win</th>
      <td>[% g.name %]</td>
      <td>
        [% g.char %]
        [% IF g.god %] of [% g.god %][% END %]
      </td>
      <td>[% g.xl %] XL and [% g.turn %] turns</td>
      <td>
        [% IF g.dumpurl %]
        <a href="[% g.dumpurl %]">dump</a>
        [% END %]
      </td>
    </tr>
    [% END %]
    [% IF games.xlrunes.size %]
    <tr>
      [% SET m = games.xlrunes.item(0) %]
      <th>Lowest XL rune</th>
      <td>[% m.name %]</td>
      <td>
        [% m.char %]
        [% IF m.god %] of [% m.god %][% END %]
      </td>
      <td>
        [% mt = m.milestone.match('\b(\w+\srune)\b'); mt.0 %]
        at [% m.xl %] XL and [% m.turn %] turns
      </td>
      <td>
        [% IF games.by_start.item(m.start_epoch) %]
          [% SET g = games.by_start.item(m.start_epoch) %]
          [% IF g.dumpurl %]
            <a href="[% g.dumpurl %]">dump</a>
          [% END %]
        [% END %]
      </td>
    </tr>
    [% END %]
  </tbody>

</table>

[% END %]

</main>

</body>

</html>
