<!doctype html>

<html>

<head>
  <title>TeamSplat Statistics</title>
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <link rel="stylesheet" href="default.css" type="text/css">
  <script type="text/javascript" src="countdown.js"></script>
</head>

<body>

<div class="header">
  <h1><img class="icon" src="favicon.svg"> <a href="https://crawl.develz.org/tournament/0.25/clans/teamsplat-mandevil.html">TeamSplat Statistics</a></h1>
  <h3

    id="countdown"
    data-countdown="[% count_to %]"
  >[% countdown %]</h3>
</div>

<main class="flexcenter index">

<table class="clanlist">
  [% FOR clan IN cfg.clans.keys.sort %]
    <tr>
      <td class="teamname">
        <a class="nodecor" href="clan-[% clan %].html">[% cfg.clans.item(clan).name %]</a>
      </td>
      <td class="members">
        [% SET f = 0; FOR member IN cfg.clans.item(clan).members %][% IF f; ', '; END %]<a href="[% member %].html">[% member %]</a>[% SET f = 1 %][% END %]
      </td>
    </tr>
  [% END %]
</table>

</main>

<div class="footer">
Generated: [% gentime %] UTC
</div>

</body>

</html>
