<!doctype html>

<html>

<head>
  <title>TeamSplat Statistics :: [% player %]</title>
  <link rel="stylesheet" href="default.css" type="text/css">
</head>

<body>

<div class="header">
  <h1>[% player %]</h1>
  <h3><a href="./">TEAMSPLAT</a></h3>
</div>

<main>


<h2>Games In Progress</h2>

<table>
  <thead>
    <tr>
      <th></th>
      <th>player</th>
      <th>char</th>
      <th>place</th>
      <th>xl</th>
      <th>runes</th>
      <th>milestone</th>
      <th>last seen</th>
      <th colspan="3">srv</th>
    </tr>
  </thead>

  <tbody>
    [% IF !players.item(player).in_progress.size %]
      <tr><td colspan="9">no games in progress</td></tr>
    [% END %]
    [% SET i = 1; FOR ms IN players.item(player).in_progress %]
      <tr>
        <td>[% i; SET i = i + 1 %]</td>
        <td>[% ms.name %]</td>
        <td>[% ms.char %][% IF ms.god %] of [% ms.god %][% END %]</td>
        <td>[% ms.place %]</td>
        <td class="numeric">[% ms.xl %]</td>
        <td class="numeric">[% ms.urune %]</td>
        <td>[% ms.milestone %]</td>
        <td class="numeric">[% ms.time_from_now_fmt %] ago</td>
        <td>[% ms.server.upper %]</td>
        <td>
          [% IF player_dumps.item(ms.name).item(ms.server) %]
            <a
              target="_blank"
              href="[% player_dumps.item(ms.name).item(ms.server)%]">D</a>
          [% END %]
        </td>
        <td>
          [% IF players.item(ms.name).watchurl.item(ms.server) %]
            <a
              target="_blank"
              href="[% players.item(ms.name).watchurl.item(ms.server) %]">W</a>
          [% END %]
        </td>
      </tr>
    [% END %]
  </tbody>
</table>


[% IF players.item(player).won.size %]

<h2>Won Games</h2>

<table>

  <thead>
    <tr>
      <th></th>
      <th>score</th>
      <th>player</th>
      <th>species</th>
      <th>background</th>
      <th>god</th>
      <th>title</th>
      <th>xl</th>
      <th>turns</th>
      <th>duration</th>
      <th>runes</th>
      <th>finish date</th>
    </td>
  </thead>

  <tbody>
    [% SET i = players.item(player).won.size;
       FOR g IN players.item(player).won.reverse %]
    <tr class="won">
      <td class="numeric">[% i; SET i = i - 1 %]</td>
      <td class="numeric">
        [% IF g.dumpurl %]
          <a href="[% g.dumpurl %]">[% g.sc.chunk(-3).join(',') %]</a>
        [% ELSE %]
          [% g.sc.chunk(-3).join(',') %]
        [% END %]
      </td>
      <td>[% g.name %]</td>
      <td>[% g.race %]</td>
      <td>[% g.cls %]</td>
      <td>[% g.god %]</td>
      <td>[% g.title %]</td>
      <td class="numeric">[% g.xl %]</td>
      <td class="numeric">[% g.turn %]</td>
      <td class="numeric">[% g.dur_fmt %]</td>
      <td class="numeric">[% g.urune %]</td>
      <td>[% g.end_fmt %]</td>
    </tr>
    [% END %]
  </tbody>
</table>

[% END %]

[%# ======================================================================== %]
[%# === BEST GAMES ========================================================= %]
[%# ======================================================================== %]

[% IF players.item(player).games.all.size %]

<h2>Best games</h2>

<table>

  <thead>
    <tr>
      <th></th>
      <th>score</th>
      <th>player</th>
      <th>char</th>
      <th>place</th>
      <th>death</th>
      <th>xl</th>
      <th>turns</th>
      <th>duration</th>
      <th>runes</th>
      <th>finish date</th>
    </td>
  </thead>

  <tbody>
    [% SET i = 1; SET lim = cfg.web.best %]
    [% FOR g IN players.item(player).games.by_score %]
      <tr[% IF g.ktyp == 'winning'; ' class="won"'; END %]>
        <td class="numeric">[% i; SET i = i + 1 %]</td>
        <td class="numeric">
          [% IF g.dumpurl %]
            <a href="[% g.dumpurl %]">[% g.sc.chunk(-3).join(',') %]</a>
          [% ELSE %]
            [% g.sc.chunk(-3).join(',') %]
          [% END %]
        </td>
        <td>[% g.name %]</td>
        <td>[% g.char %][% IF g.god %] of [% g.god%][% END %]</td>
        <td>[% IF g.ktyp != 'winning'; g.place; END %]</td>
        <td>[% g.tmsg %]</td>
        <td class="numeric">[% g.xl %]</td>
        <td class="numeric">[% g.turn %]</td>
        <td class="numeric">[% g.dur_fmt %]</td>
        <td class="numeric">[% g.urune %]</td>
        <td>[% g.end_fmt %]</td>
      </tr>
      [% SET lim = lim - 1; LAST IF lim <= 0 %]
    [% END %]
  </tbody>
</table>

[% END %]

[%# ======================================================================== %]
[%# === RECENT GAMES ======================================================= %]
[%# ======================================================================== %]

[% IF players.item(player).games.all.size %]

<h2>Recent Games</h2>

<table>

  <thead>
    <tr>
      <th></th>
      <th>score</th>
      <th>player</th>
      <th>char</th>
      <th>place</th>
      <th>death</th>
      <th>xl</th>
      <th>turns</th>
      <th>duration</th>
      <th>runes</th>
      <th>finish date</th>
    </td>
  </thead>

  <tbody>
    [% SET i = players.item(player).games.all.size; SET lim = cfg.web.plrrecent %]
    [% FOR g IN players.item(player).games.all.reverse %]
      <tr[% IF g.ktyp == 'winning'; ' class="won"'; END %]>
        <td class="numeric">[% i; SET i = i - 1 %]</td>
        <td class="numeric">
          [% IF g.dumpurl %]
            <a href="[% g.dumpurl %]">[% g.sc.chunk(-3).join(',') %]</a>
          [% ELSE %]
            [% g.sc.chunk(-3).join(',') %]
          [% END %]
        </td>
        <td>[% g.name %]</td>
        <td>[% g.char %][% IF g.god %] of [% g.god%][% END %]</td>
        <td>[% IF g.ktyp != 'winning'; g.place; END %]</td>
        <td>[% g.tmsg %]</td>
        <td class="numeric">[% g.xl %]</td>
        <td class="numeric">[% g.turn %]</td>
        <td class="numeric">[% g.dur_fmt %]</td>
        <td class="numeric">[% g.urune %]</td>
        <td>[% g.end_fmt %]</td>
      </tr>
      [% SET lim = lim - 1; LAST IF lim <= 0 %]
    [% END %]
  </tbody>
</table>

[% END %]

[%# ======================================================================== %]
[%# === RUNES COLLECTION =================================================== %]
[%# ======================================================================== %]

<h2>Runes Progress</h2>

<table class="runes">
  <tbody>
    <tr>
      <td[% IF players.item(player).runes.exists('decaying') %] class="found"[% END %]>decaying</td>
      <td[% IF players.item(player).runes.exists('gossamer') %] class="found"[% END %]>gossamer</td>
      <td[% IF players.item(player).runes.exists('serpentine') %] class="found"[% END %]>serpentine</td>
    </tr>
    <tr>
      <td[% IF players.item(player).runes.exists('barnacled') %] class="found"[% END %]>barnacled</td>
      <td[% IF players.item(player).runes.exists('silver') %] class="found"[% END %]>silver</td>
      <td[% IF players.item(player).runes.exists('abyssal') %] class="found"[% END %]>abyssal</td>
    </tr>
    <tr>
      <td[% IF players.item(player).runes.exists('slimy') %] class="found"[% END %]>slimy</td>
      <td[% IF players.item(player).runes.exists('demonic') %] class="found"[% END %]>demonic</td>
      <td[% IF players.item(player).runes.exists('magical') %] class="found"[% END %]>magical</td>
    </tr>
    <tr>
      <td[% IF players.item(player).runes.exists('glowing') %] class="found"[% END %]>glowing</td>
      <td[% IF players.item(player).runes.exists('dark') %] class="found"[% END %]>dark</td>
      <td[% IF players.item(player).runes.exists('fiery') %] class="found"[% END %]>fiery</td>
    </tr>
    <tr>
      <td[% IF players.item(player).runes.exists('iron') %] class="found"[% END %]>iron</td>
      <td[% IF players.item(player).runes.exists('icy') %] class="found"[% END %]>icy</td>
      <td[% IF players.item(player).runes.exists('obsidian') %] class="found"[% END %]>obsidian</td>
    </tr>
    <tr>
      <td[% IF players.item(player).runes.exists('bone') %] class="found"[% END %]>bone</td>
      <td[% IF players.item(player).runes.exists('golden') %] class="found"[% END %]>golden</td>
      <td></td>
    </tr>
  </tbody>
</table>

[%# ======================================================================== %]
[%# === GODS =============================================================== %]
[%# ======================================================================== %]

<h2>Gods: Maximum Piety</h2>

<table class="gods">
<tbody>

  <tr>
  [% cnt = cfg.game.gods.size - 3; rowcnt = 6; FOR god IN cfg.game.gods %]
    [% NEXT IF !god || god == 'Gozag' || god == 'Xom' %]
    <td[% IF players.item(player).godpiety.exists(god) %] class="found"[% END %]>[% god %]</td>
    [% cnt = cnt - 1; rowcnt = rowcnt - 1 %]
    [% LAST IF cnt == 0 %]
    [% IF rowcnt == 0; rowcnt = 6; "</tr><tr>"; END %]
  [% END %]
  [% WHILE rowcnt > 0; "<td></td>"; rowcnt = rowcnt - 1; END %]
  </tr>

</tbody>
</table>

<h2>Gods: Wins</h2>

<table class="gods">
<tbody>

  <tr>
  [% cnt = cfg.game.gods.size; rowcnt = 6; FOR god IN cfg.game.gods %]
    [% IF !god; SET god = 'No god'; END %]
    <td[% IF players.item(player).godwin.exists(god) %] class="found"[% END %]>
      [% god %]
    </td>
    [% cnt = cnt - 1; rowcnt = rowcnt - 1 %]
    [% LAST IF cnt == 0 %]
    [% IF rowcnt == 0; rowcnt = 6; "</tr><tr>"; END %]
  [% END %]
  [% WHILE rowcnt > 0; "<td></td>"; rowcnt = rowcnt - 1; END %]
  </tr>

</tbody>
</table>

[%# ======================================================================== %]
[%# === UNIQUES HARVEST ==================================================== %]
[%# ======================================================================== %]

<h2>Uniques</h2>

<table class="uniques">

<tbody>

<tr>
[%
  SET cnt = cfg.game.uniques.size;
  SET rowcnt = 5; FOR u IN cfg.game.uniques
%]
  <td[% IF players.item(player).uniques.exists(u); ' class="found"'; END %]>[% u %]</td>
  [% cnt = cnt - 1; rowcnt = rowcnt - 1 %]
  [% LAST IF cnt == 0 %]
  [% IF rowcnt == 0; rowcnt = 5; "</tr></tr>"; END %]
[% END %]
  <td class="summary" colspan="[% rowcnt %]">
    [% players.item(player).uniques.keys.size %]
    out of
    [% cfg.game.uniques.size %]
    killed
  </td>
</tr>

</tbody>

</table>

</main>

<div class="footer">
Generated: [% gentime %] UTC
</div>

</body>

</html>
